  <dialog id="dialog3" class="mdl-dialog newnewmodal" >
     <button class="mdl-button mdl-js-button mdl-button--icon modal_button" ng-click="hideDialog('dialog3')">
      <i class="material-icons">close</i>
    </button>
       <div class="backdrop" ng-click="hideDialog('dialog3')">
    </div>
    <div class="modal__modal" style="width: 240px;">
     <h2 class="g-modal-title-h1 sc-truncate">Berhasil</h2>

     <div class="profileSettings__form">
       <div class="sc-media">
          <p>
        {{textberhasil}}</p>
       </div>

     </div>

    </div>

</dialog>




