<dialog id="lihatpaspasien" class="mdl-dialog newnewmodal" >
    <div class="no-internet" ng-show="gagallagi">
            <p>{{pesangagal}}</p>
      </div>
     <button class="mdl-button mdl-js-button mdl-button--icon modal_button" ng-click="hideDialog('lihatpaspasien')">
      <i class="material-icons">close</i>
    </button>
       <div class="backdrop" ng-click="hideDialog('lihatpaspasien')">
    </div>
    <div class="modal__modal" >
     <h2 class="g-modal-title-h1 sc-truncate">Lihat Password </h2>

     <div class="profileSettings__form">
       <div class="sc-media">
          <div class="profileSettings__baseFields sc-media-content">
             <div class="profileSettings__cell ">
                <div class="textfield messageOutside">
                   <label>
                    <span class="textfield__label ">Password Saat ini</span>

                      <div class="textfield__inputWrapper">
                          <div class="mdl-textfield mdl-js-textfield" style="width:100%;">
                            <input class="mdl-textfield__input" type="password" id="sample1" ng-if="!showpasspasien1" placeholder="Password Saat ini" value="****************************"  disabled>
                            <input class="mdl-textfield__input" type="text" id="sample1" ng-if="showpasspasien1" placeholder="Password Saat ini" ng-model="tampungpasien.profile.pass" disabled>
                            <label class="mdl-textfield__label" for="sample1"></label>
                            
                          </div>
                          
                      </div>

                  </label>
      
                </div>
            </div>
            <div class="profileSettings__cell">
                <div class="textfield messageOutside">
                   <label>
                    <span class="textfield__label ">Password Admin</span>

                      <div class="textfield__inputWrapper">
                          <div class="mdl-textfield mdl-js-textfield" >
                            <input class="mdl-textfield__input" type="password" id="sample1" placeholder="" ng-model="newItem.pass" ng-disabled="showpasspasien1">
                            <label class="mdl-textfield__label" for="sample1">Password Admin</label>
                            <span class="mdl-textfield__error">Masukkan password admin untuk melihat</span>
                          </div>
                          
                      </div>

                  </label>
      
                </div>
            </div>           


          </div>
       </div>

       <div class="profileSettings__formButtons sc-button-toolbar sc-border-light-top">
          
          <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="color:red;" ng-click="hideDialog('lihatpaspasien')">
             Batal
          </button>
           <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="showpassword(newItem.pass)"  ng-disabled="showpasspasien1">
            <div ng-show="showspin" class="mdl-spinner mdl-js-spinner is-active" ></div><div ng-show="!showspin"> Lihat</div>
          </button>
       </div>

     </div>

    </div>

</dialog>