

<div id="content" ng-init="changejud('Detail Pasien');setsearchnull();numron=getRandomNum();" ng-class="{'bgklinik1':numron==1,'bgklinik2':numron==2,'bgklinik3':numron==3,'bgklinik4':numron==4,'bgklinik5':numron==5,'bgklinik6':numron==6,'bgklinik7':numron==7,'bgklinik8':numron==8,'bgklinik9':numron==9,'bgklinik10':numron==10}">
        <div id="profile-info">
        
          <img ng-show="tampungpasien.profile.photo" id="profile-image"  ng-src="{{tampungpasien.profile.photo || 'img/person-flat.png'}}" ng-click="openimageprofile(tampungpasien.profile.nama,tampungpasien.profile.photo)" style="cursor:pointer;">
           <img ng-show="!tampungpasien.profile.photo && tampungpasien.profile.kelamin == 'P'" id="profile-image"  ng-src="img/person-girl-flat.png" style="cursor:pointer;">
           <img ng-show="!tampungpasien.profile.photo && tampungpasien.profile.kelamin == 'L'" id="profile-image"  ng-src="img/person-flat.png" style="cursor:pointer;">

          <h5 id="profile-name">{{tampungpasien.profile.nama}}</h5>
          <p id="profile-name2" ng-show="tampungpasien.profile.kelamin == 'P'">Perempuan</p>
         <p id="profile-name2" ng-show="tampungpasien.profile.kelamin == 'L'">Laki - Laki</p>
         
          <p id="profile-name3">{{realdate | date:"longDate"}}</p>
          <p id="profile-name3">{{tampungpasien.profile.alamat}}</p>
          <p id="profile-name3">{{tampungpasien.profile.nomor_telp}}</p>
          <p id="profile-name3">{{tampungpasien.profile.email}}</p>
       

        </div>
         <div class="mdl-card__menu">
                   <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="detailpasien">
                   <i class="material-icons" style="color:white" >more_vert</i>
                </button>
                <div class="mdl-tooltip" for="detailpasien">
                Opsi
                </div>
                <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="detailpasien">
                
                  <li class="mdl-menu__item">Input Rekam Medik</li>
                   <li class="mdl-menu__item" ng-click="showUbahprofile(tampungpasien,2)">Ubah Data Pasien</li>
                  <li class="mdl-menu__item" ng-click="showDialog('ubahemailpasien')">Ubah Email</li>
                  <li class="mdl-menu__item" ng-click="showDialog('ubahpassword')">Ubah Password</li>
                   <li class="mdl-menu__item" ng-click="resetpass(tampungpasien.profile.email)">Reset Password</li>
                  <li class="mdl-menu__item" ng-click="showDialog('hapuspasien')">Hapus Pasien</li>
                </ul>
         </div>
</div>

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect opacityanimate">
  <div class="mdl-tabs__tab-bar">
       <a href="#jadwal-panel" class="mdl-tabs__tab is-active">History Periksa</a>
  </div>

    <div class="mdl-tabs__panel is-active" id="jadwal-panel">  
              <table ng-if="historyperiksa" class="mdl-data-table mdl-js-data-table  table_rekam_medik table" style="border:none;">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">No</th>
                    <th class="mdl-data-table__cell--non-numeric">Tanggal</th>
                    <th class="mdl-data-table__cell--non-numeric">Klinik</th>
                    <th class="mdl-data-table__cell--non-numeric">Dokter</th>
                  </tr>
                </thead>
                <tbody >
                  <tr ng-repeat="history in historyperiksa">
                    <td class="mdl-data-table__cell--non-numeric">{{$index+1}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{history.tgl | date:"longDate" }}</td>
                    <td class="mdl-data-table__cell--non-numeric" style="text-overflow: ellipsis;white-space: nowrap;overflow:hidden;"><a href="#/dash/klinik/detail" ng-click="tampungdetail(listofKlinik.$getRecord(history.klinik),3);">Klinik {{ listofKlinik.$getRecord(history.klinik).nama }}</a></td>
                     <td class="mdl-data-table__cell--non-numeric" style="text-overflow: ellipsis;white-space: nowrap;overflow:hidden;"><a  href="#/dash/dokter/detail" ng-click="tampungdetail(listofDokter.$getRecord(history.dokter),2)">{{listofDokter.$getRecord(history.dokter).nama}}</a></td>
                  </tr>

                </tbody>
                </table>
  </div>

</div>




